.container {
  background-color: #33F4E9;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerList {
  width: 400px;
  text-align: center;
}

.taskList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;
}